.prohibited {
   ul {
      margin-bottom: 24px;
   }

   &__list {
      @include flex;
      align-items: center;
      padding: 20px 24px;
      margin-bottom: 4px;
      background-color: $black-dark-mode-v2;
      border-radius: $border-radius;
      @include small {
         padding: 16px;
         align-items: flex-start;
      }

      i {
         color: $brand-color-light;
         margin-right: 26px;
         font-size: 24px;
      }

      p {
         color: $white;
         @include small {
            font-size: 16px !important;
            line-height: 24px !important;
         }
      }
   }

   .notes {
      padding: 20px 24px 32px;
      background-color: $black-dark-mode-v2;
      border-radius: $border-radius;
      @include small {
         padding: 16px 16px 24px;
      }

      &__title {
         color: $brand-color-light;
         font-weight: $fw-bold;
         font-size: 20px;
         line-height: 32px;
         margin-bottom: 8px;
      }

      &__content {
         @include small {
            font-size: 16px !important;
            line-height: 24px !important;
         }
      }
   }
}