   /** CONTACT **/

   .contact {
      .heading {
         @include small {
            margin-bottom: 24px !important;
         }
      }
      .heading__text {
         margin-bottom: 37px;
         @include small {
            margin-bottom: 0
         }
      }

      .contact__content {
         @include flex;
         gap: 32px;
         @include medium {
            flex-direction: column;
         }

         h4 {
            font-weight: $fw-semibold;
            margin-bottom: 40px;
         }

         ul {
            margin-bottom: 55px;
         }

         li {
            @include flex;
            align-items: center;
            margin-bottom: 40px;
            @include small {
               margin-bottom: 32px;
            }
   
            i {
               margin-right: 24px;
               @include small {
                  margin-right: 16px;
               }
            }
   
            h5 {
               font-weight: $fw-bold;
               line-height: 28px;
               color: $white;
            }
   
            p {
               font-size: 18px;
               line-height: 28px;
            }
   
            &:first-of-type {
              i {
               color: #FFE249;
              }
            }
            &:nth-of-type(2) {
               i {
                  color: $pink;
               }
            }
            &:nth-of-type(2) {
               i {
                  color: $brand-color-light;
               }
            }
            &:last-of-type {
               margin-bottom: 0;
               i {
                  color: #FFBC7E;
               }
            }
         }
         
         .social-icons {
            @include small {
               margin-bottom: 0;
            }
            a {
               margin-right: 32px;
            }
            i {
               font-size: 32px;
            }
         }
      }

      &__column {
         padding: 31px 31px 47px;
         flex: 1;
         @include small {
            padding-bottom: 32px !important;
            padding-top: 24px !important;
         }

         h4 {
            font-weight: $fw-semibold;
            font-size: 20px;
            line-height: 32px;

            &:first-of-type {
               @include small {
                  margin-bottom: 32px;
               }
            }
            &:last-of-type {
               @include small {
                  margin-bottom: 24px;
               }
            }
         }

         ul {
            h5 {
               font-weight: $fw-bold;
               font-size: 16px;
               line-height: 24px;
            }

            p {
               font-size: 14px !important;
               line-height: 24px !important;
            }
         }

         .contact-form {
            textarea {
               height: 186px;
            }
         }

         &--input {
            h4 {
               margin-bottom: 8px !important;
            }
            p {
               margin-bottom: 38px;
               @include xsmall {
                  margin-bottom: 32px;
               }
            }

            .btn {
               margin-left: auto;
            }
         }
      }
   }