.browse-file {
   border: 1px dashed $line-color ;
   margin-top: 32px;
   padding: 24px 16px;
   @include flex-center;
   // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23333' stroke-width='3' stroke-dasharray='10%2c 10%2c 10' stroke-dashoffset='12' stroke-linecap='square'/%3e%3c/svg%3e");
   border-radius: 8px;
   @include xsmall {
      flex-direction: column;
      text-align: center;
      padding-top: 44px;
      padding-bottom: 44px;
   }

   i {
      color: $brand-color-light;
   }

   &__content {
      margin-left: 16px;
      @include xsmall {
         margin-left: 0;
         margin-top: 8px;
      }
      h6 {
         font-weight: $fw-medium;
         color: $white;
      }
   
      p {
         font-size: 12px;
         line-height: 16px;
         color: $white-pale;
      }
   }
}