.family-page {
   .details-headline {
      padding-bottom: 24px;
   }
}

.tabs-adjacent--family {
  .btn--adjacent-tab {
   min-width: 224px;
   padding: 15px !important;
   @include small {
      width: auto ;
   }
  }
}

.order--family {
   .order {
      @include small {
         .btn-w144 {
            margin-top: 32px;
         }
      }
   }
   .order-row {
      &:last-child {
         padding-bottom: 0;
      }
   }
}