.forgot-password {
   .signin .signin-input > * {
      margin-bottom: 0 !important;
   }

   .signin-content {
      .btn {
         margin-top: 22px;
         @include xsmall {
            margin-top: 14px;
         }
      }
   }
}

.forgot-password-modal {
   text-align: center;
   i {
      font-size: 80px;
   }

   h1 {
      font-weight: $fw-bold;
      font-size: 40px;
      line-height: 56px;
      margin-bottom: 8px;
   }

   p {
      font-size: 14px;
      line-height: 22px;  
      color: $white-pale; 
      margin-bottom: 40px;
   }

   .btn {
      font-family: 'Poppins', sans-serif;
      font-weight: $fw-medium;
      width: 200px;
      border: 1px solid $white;
      border-radius: $border-radius;
      color: $white;
      padding: 16px 20px;
   }

   &--err {
      :is(i, h1) {
         color: $warning;
      }
   }
   &--success {
      :is(i, h1) {
         color: $pure-green;
      }
   }
}