.innovations {
   &__tabs {
      @include flex;
      justify-content: center;
      margin: 0 auto 40px;
      overflow-x: auto;

      ul.nav {
         border: 1px solid $line-color;
         border-radius: $border-radius;
         overflow-x: auto;
         flex-wrap: nowrap;
         @include small {
            border: none;
         }

         li {
            @include box-shadow($shadow);
            @include small {
               &:not(:first-child) {
                  margin-left: 8px;
               }
            }
         }
      }

      .btn--tab-pages {
         @include small {
            width: 112px;
            border: 1px solid $line-color;
            border-radius: $border-radius;
         }
      }
   }

   // INNOVATION CARDS
   .v-card--innovation {
      background-color: $black-dark-mode-v2;
      padding: 24px;
      margin-bottom: 16px;
      border: 1px solid transparent;
      border-radius: $border-radius;
      @include medium {
         flex-direction: row;
      }
      @include xsmall {
         flex-direction: column;
         padding: 0;
         border-top-left-radius: 16px;
         border-top-right-radius: 16px;
      }

      &:not(:last-child)::after {
         display: none;
      }

      &:hover {
         border: 1px solid $brand-color-light;
      }

      img {
         @include small {
            width: auto;
         }
         @include xsmall {
            width: 100%;
         }
      }

      .v-card-body {
         @include xsmall {
            width: 100%;
            padding-top: 16px;
         }
      }

      .v-card-text {
         margin-bottom: 24px;
      }
   }
}