.newcommit {
   @include small {
      padding: 32px 16px 24px;
   }

   &-input {
      @include flex;
      align-items: center;
      position: relative;
   
      .input-select {
         padding-left: 15px;
      }
   
      i.icon-calendar_two_tone {
         position: absolute;
         right: 20px;
         top: 50%;
         @include transform(translateY(-50%));
      }
   }

   &-buttons {
      @include flex;
      justify-content: flex-end;
      margin-top: 40px;
      @include xsmall {
         flex-direction: column;
      }
   
      .btn {
         padding-left: 24px;
         padding-right: 24px;
         @include small {
            width: 100% !important;
         }
         &:not(:last-child) {
            margin-right: 16px;
            @include xsmall {
               margin-right: 0;
               margin-bottom: 16px;
            }
         }
   
         &--secondary {
            width: 144px;
         }
   
         &--primary {
            width: 194px;
         }
      }
   }
}