.new-password {
   padding: 48px 256px 64px;
   background: url(../img/Vector-v3.svg) bottom right no-repeat;
   @include large {
      padding-left: 130px;
      padding-right: 130px;
   }
   @include small {
      background-image: none;
      padding-bottom: 40px !important;
   }

   &.signin {
      flex-direction: column !important;

      .signin-input>*:last-child {
         margin-bottom: 0;
      }
   }

   .heading {
      margin-bottom: 64px;
   }

   .btn {
      margin-top: 40px;
   }
}