.new-password {
   padding: 48px 256px 64px;
   background: url(../img/Vector-v3.svg) right no-repeat;
   @include large {
      padding-left: 130px;
      padding-right: 130px;
   }
   @include small {
      background-image: none;
   }

   .heading {
      margin-bottom: 64px;
   }
}