.orders-page {
   .details-headline {
      padding-top: 14px !important;

      h4 {
         margin-bottom: 0;
      }
   }

   .details-headline--buttons .details-headline__row:not(:last-child) {
      margin-bottom: 24px;

      > div:first-child {
         @include small {
            margin-bottom: 22px;
         }
      }
   }

   .btn--adjacent-tab {
      min-width: 152px;
   }

   .btn--instruction {
      padding: 0;
      margin-right: 18px;
      @include large {
         margin-right: 0;
      }
   }

   .final-amount {
      padding: 24px 16px 32px !important;

      &__buttons {
         .btn:last-child {
            @include small {
               margin-bottom: 0;
            margin-top: 16px;
            }
         }
      }
   }
}

.orders {
   .order {
      &:not(:last-of-type) {
         margin-bottom: 8px;
      }

      &-row {
         // padding: 16px 0;
         @include small {
            flex-direction: column;
         }

         &:first-child {
            border-bottom: 1px solid $line-color;
            padding-bottom: 16px;
         }
         &:last-child {
            padding-top: 16px;
         }
      }

      &-col {
         &:not(:last-child) {
            margin-right: 24px;
            @include large {
               margin-right: 12px;
            }
         }
         &:nth-child(4) {
            margin-right: 18px;
            @include large {
               // margin-right: 9px;
            }
         } 

         &.order-col1 {
            width: 224px;
            @include large {
               width: 160px;
            }
         }
         &.order-col2 {
            width: 160px;
            @include xlarge {
               width: 114px;
            }
         }
         &.order-col3 {
            width: 120px;
            @include xlarge {
               width: 85px;
            }
         }
         &.order-col4 {
            width: 160px;
            @include xlarge {
               width: 134px;
            }
         }
         &.order-col5 {
            width: 40px;
            max-width: 40px;
         }
      }
      &-bottom {
         @include flex;
         align-items: center;
         justify-content: space-between;
         margin-top: 32px;
         @include small {
            flex-direction: column;
            margin-top: 24px;
         }

         .product-link {
            @include small {
               width: 100%;
            }
            .link {
               @include large {
                  max-width: 300px;
               }
               @include medium {
                  max-width: 200px;
               }
               @include xsmall {
                  max-width: 100px;
               }
            }
         }

         //select delete icon
         > .btn--icon {
            @include small {
               margin-top: 24px;
               width: 100%;
               border: 1px solid $line-color;
               border-radius: $border-radius;
               padding: 15px 0;
            }
         }
      }

   }

   &.carts {
      .order {
         padding-left: 16px !important;

         .form-check {
            height: auto;
         }

         &-row {
            border-bottom: none;
            padding: 0
         }
      }

      .form-check {
         @include flex;
         align-items: normal;
         @include small {
            flex-direction: column;
            padding-left: 0;
         }    
         
         &-input {
            margin-right: 16px;
            @include small {
               margin-left: 0px;
               margin-bottom: 24px;
            }
         }
      }

      .final-amount {
         margin: 16px 0;
      }

      .orders-notice {
         font-weight: $fw-medium;
         color: $white;
         @include xsmall {
            margin-top: 40px;
            text-align: center;
         }

         span {
            color: $brand-color-light;
         }
      }
   }
}