.registration {
   .signin-content {
      padding: 24px 48px 40px 24px;
      width: calc(100% - 328px);
      @include large {
         padding: 0 24px 0 0;
         // width: 100%;
      }
      @include medium {
         padding: 0;
         width: 100%;
      }
   }

   .heading {
      margin-bottom: 48px;
   }

   .btn {
      width: fit-content;
      @include medium {
         width: 100%;
      }
   }

   .tabs-adjacent {
      width: fit-content;
      margin: 0 auto 56px;
      overflow-x: auto;
      @include medium {
         border: 1px solid $line-color;
      }
      @include small {
         margin-bottom: 32px;
         overflow-x: auto;
      }
      .btn--adjacent-tab {
         padding-left: 30px;
         padding-right: 30px;
         min-width: 156px;
         @include medium {
            margin-left: 0 !important;
            border: none;
            min-width: 144px;
            padding-left: 20px;
            padding-right: 20px;
         }
      }
   }

   .btn--instruction {
      margin-right: auto;
      padding: 0;
      color: $white-pale;
      @include small {
         justify-content: center;
      }
   }

   .btn--registration {
     width: 449px;
      margin: auto;
      @include medium {
         width: 100%;
      }
      @include small {
         margin-top: 8px;
      }
   }

   .form-check {
      margin-bottom: 40px;
      @include small {
         justify-content: center;
      }
   }

   .side-colored {
      padding: 0 48px;
      height: 834px;
      width: 328px;
      @include medium {
         height: auto;
      }

      .heading__title {
         margin-bottom: 24px;
      }
   }

   .modal-dialog {
      max-width: 672px !important;
   }
}