/** SERVICES **/
.services {
   padding: 48px 32px 34px;
   
   &__content {
      margin-top: 56px;
      @include small {
         margin-top: 40px;
      }

      .box {
         padding-bottom: 40px;
         border-color: $white-pale;
         @include small {
            padding-top: 23px;
            padding-bottom: 23px;
         }

         i {
            margin-bottom: 24px;
         }

         &-title {
            @include transition();   
            @include small {
               font-size: 20px;
               line-height: 32px;
            } 
            @include xsmall {
               margin-bottom: 16px !important;
            }
         }

         &-text {
            margin-bottom: 0;
            @include transition();           
         }

         &:hover {
            .box-title {
               color: $brand-color-light;
               @include transition();
            }
            
            .box-text {
               @include transition();
               color: $white;
            }
         }
      }

      .stretch-col {
         flex: auto; //for bootstrap column working correctly 
      }
   }
}


.input-expanded {
   opacity: 0;
   position: absolute;
   pointer-events: none;
 }
 
 .line-clamp {
   /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
   display: block;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   overflow: hidden;
   text-overflow: ellipsis;
}

.input-expanded ~ label {
   color: $brand-color-light;
}
 
 .input-expanded:focus ~ label {
   color: $white;
 }
 
 .input-expanded:checked + .line-clamp {
   -webkit-line-clamp: unset;
 }
 
 .input-expanded:checked ~ label,
 p:not(.truncated) ~ label{
   display: none;
 }