.set-password {
   .notification {
      color: $warning;
      max-width: 560px;
      font-weight: $fw-medium;
      line-height: 26px;
      margin-bottom: 36px;
   }

   .form-floating {
      padding-left: 0 ;
      > label {
         padding-left: 0;
      }
   }
}