.addresses {
   .details-headline {
      padding-top: 24px;
      padding-bottom: 24px;
   }

   .tabs .btn--tab {
      @include cmq(992px, 1199px) {
         min-width: auto;
         padding: 12px;
      }
   }
}

.details-info {
   padding: 32px;
   position: relative;

   @include small {
      padding: 40px 16px;
   }
   
   .data {
      @include flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 23px; 
      margin-bottom: 16px;
      background-color: $black-dark-mode;
      border-radius: $border-radius;
      border: 1px solid transparent;
      @include transition;

      &:hover {
         color: $brand-color-light;
         background-color: rgba($brand-color-light, .1);
         border-color: $brand-color-light;
         @include transition;

         i {
            color: $brand-color-light;
         }
      }

      &__title {
         font-size: 14px;
         line-height: 24px;
      }

      &__name {
         color: $white;
         background-color: transparent;
         border: none;
      }

      i {
         cursor: pointer;
      }

      input {
         background-color: transparent;
         color: $white;
         border: none;
      }
   }
}