.debts-page {
   .details-headline {
      padding-top: 22px;
      padding-bottom: 22px;

      .tabs-adjacent {
         @include small {
            margin-bottom: 24px;
         }
      }
   }
}

.total-debt {
   text-align: right;
   @include small {
      text-align: left;
   }
   p {
      font-size: 14px;
      line-height: 28px;
   }
   h5 {
      font-weight: bold;
      font-size: 20px;
      line-height: 32px;
      color: $white;
   }
}

.debts {
   .order-bottom {
      margin-top: 0;
      margin-bottom: 24px;
   }

   .order-row {
      border-top: none !important;
      padding-top: 24px !important;
   }
   .product-link {
      .link {
         @include medium {
            max-width: 300px;
         }
         @include xsmall {
            max-width: 200px;
         }
         @include extra-xsmall {
            max-width: 100px;
         }
      }
   }

   input {
      background-color: transparent;
      color: $brand-color-light;
      border: none;
      width: 100%;
   }
}


.final-debt {
   margin-top: 16px;
   @include xsmall {
      padding: 40px 16px 32px !important;
   }
   .final-amount__buttons {
      @include flex;

      .btn:not(:first-child) {
         margin-left: 24px;
         @include xsmall {
            margin-bottom: 0;
            margin-left: 0;
            margin-top: 16px;
         }
      }
   }
}