.login {
   // padding: 25px 88px 24px 24px;
   @include medium {
      padding-right: 24px;
      flex-direction: column-reverse;
   }
   @include small {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
   }

   .side-colored {
      height: auto;
      padding: 0 64px;
      width: 497px;
      @include large {
         width: 328px;
      }

      .heading__title {
         margin-bottom: 40px;
      }
   }

   .signin-content {
      margin-left: 48px;
      padding: 24px 64px 32px 64px;
      width: calc(100% - 497px);
      @include large {
         padding-left: 0;
         width: calc(100% - 328px);
         padding-right: 0;
      }
      @include medium {
         padding-top: 0;
      }

      .heading {
         margin-bottom: 63px;
      }

      .btn {
         margin-bottom: 32px;
         color: $black;
      }

      .forgot {
         @include flex;
         align-items: center;
         justify-content: center;
         color: $brand-color-light;

         i {
            color: $brand-color-light;
         }

         &:hover {
            color: $white;
            i {
               color: $white;
            }
         }
         &:focus {
            @extend .forgot:hover;
         }
      }
   }
}