.set-password {
   .notification {
      color: $warning;
      max-width: 560px;
      font-weight: $fw-medium;
      line-height: 26px;
      margin-bottom: 36px;
   }

   .form-floating {
      padding-left: 0 ;
      > label {
         padding-left: 0;
      }
   }

   .row > *{
      @include cmq(992px, 1199px) {
         padding-left: 12px;
         padding-right: 12px;
      }
   }

   .newcommit-buttons {
      .btn--secondary {
         min-width: 160px;
      }
      .btn--primary {
         min-width: 204px;
      }
   }
}